{% extends "base.html" %}
{% block content %}

<div class="page-center">
  <div class="glass-panel">
    <h2>Create Debate</h2>

    <form method="post">
        <input name="topic" placeholder="Topic" required><br><br>

        <select name="side" required>
            <option value="">Choose side</option>
            <option value="for">For</option>
            <option value="against">Against</option>
        </select><br><br>

        <textarea name="argument" rows="5" placeholder="Your argument" required></textarea><br><br>

        <button type="submit">Create Debate</button>
    </form>
  </div>
</div>

{% endblock %}

